
<div class="form-wrapper">
  <form action="/spirits" method="post">

    <fieldset>
      <legend>Create Spirit</legend>
      <p>
        <label for="name">Name:</label>
        <input type="text" id="name" name="spirit[name]">
      </p>
      <p>
      <label for="variety">Type:</label>
      <input type="text" id="variety" name="spirit[variety]">
      </p>
      <p>
      <label for="origin">Origin:</label>
      <input type="text" id="origin" name="spirit[origin]">
      </p>
      <p>
      <label for="price">Price ($):</label>
      <input type="text" id="price" name="spirit[price]">
      </p>
      <p>
      <label for="volume">Volume:</label>
      <input type="text" id="volume" name="spirit[volume]">
      </p>
      <p>
      <label for="alcohol">Alcohol:</label>
      <input type="text" id="alcohol" name="spirit[alcohol]">
      </p>
      <p>
      <label for="image">Image:</label>
      <input type="url" id="image" name="spirit[image]">
      </p>
      <p>
      <label for="description">Description:</label>
      <textarea id="description" name="spirit[description]" cols="40" rows="8"></textarea>
      </p>
      <button>Create Spirit</button>
    </fieldset>
   
  </form>
</div>